#interactive.viewport {
  min-width: 100vw;
  max-height: 80vh;
}

#interactive.viewport canvas, video {
    /*   float: left; */
    position:relative;  
  min-width: 100vw;
  max-height: 80vh;
}


#interactive.viewport canvas.drawingBuffer, video.drawingBuffer {
  margin-left: -100vw;
}


.pageloader {
    width: 100vw;
    overflow: scroll;
}

.pageloader > .pagecontents {
    margin-left: 10%;
    margin-right: 10%;
}

.card-content {
    display: none;
}

.card-content.is-active {
    display: block;
}

div #quagga {
    width:100%;
    padding:auto;
}
